@media only screen and (min-width: 280px) and (max-width: 574px) {
  button {
    font-size: 13px !important;
    margin: 0 !important;
  }

  div .my-3 {
    margin: 10px !important;
  }

  textarea.form-control {
    margin-bottom: 20px !important;
  }
}
